ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCipY5S/RVmrMceApD5G7BTkiIIDKY76ogMYFEFkiT6tKYYiJenK+PuHH2JjXSMuEtY8WT46MMHvT+6YkXanVzGekSDVp8CH0XBfiULTw578fgFRYV2p/vMQ9w6GIkFvMN1QOsk2134bDKrCpQOmxlAhHzb2Va0AQui7733SK36K/EecTxXjIH3KdMXTpnd/lp3/0+hRfv0ucoS9ySyBe2uVT2zuTOWwhzWBdbvIapvxiy9i/1bYnh42E/JKYjo8CLQRqd7igP16FYywwYu3/UspjF8ZSuXsSbuxe+yUtzQI/0yhL/LJeCk/T+UnLDrHGKXAFu2t7hKBjMsQSgZKQcd ben@openstack-deploy
