interface={{ boot_interface }}
domain={{ boot_domain }}
dhcp-range={{ boot_dhcp_range_begin }},{{ boot_dhcp_range_end }},{{ boot_mask }},{{ boot_dhcp_lease_time_hours }}
dhcp-boot=pxelinux.0,pxeserver,{{ boot_interface_address }}
pxe-service=x86PC, "Install Ubuntu 14.04 Trusty", pxelinux
enable-tftp
tftp-root=/srv/tftp
dhcp-host=00:00:00:00:00:00,openstack-ctl-01,192.168.100.79,1h
dhcp-host=00:00:00:00:00:00,openstack-ctl-02,192.168.100.80,1h
dhcp-host=00:00:00:00:00:00,openstack-ctl-03,192.168.100.81,1h
dhcp-host=00:00:00:00:00:00,openstack-net-01,192.168.100.82,1h
dhcp-host=00:00:00:00:00:00,openstack-cpu-01,192.168.100.83,1h
dhcp-host=00:00:00:00:00:00,openstack-cpu-02,192.168.100.84,1h
