default local

label local
        menu label Boot local hard drive
        LOCALBOOT 0
	menu default

label install_ctl
	menu label ^OpenStack Node
	kernel ubuntu-installer/amd64/linux
	append vga=788 initrd=ubuntu-installer/amd64/initrd.gz --- auto=true url=http://{{ boot_interface_address }}/preseed_openstack.cfg hostname=openstack-base domain={{ boot_domain }} quiet 

label install
	menu label ^Trusty GUI Install
	kernel ubuntu-installer/amd64/linux
	append vga=788 initrd=ubuntu-installer/amd64/initrd.gz --- quiet 

label cli
	menu label ^Trusty CLI Install
	kernel ubuntu-installer/amd64/linux
	append tasks=standard pkgsel/language-pack-patterns= pkgsel/install-language-support=false vga=788 initrd=ubuntu-installer/amd64/initrd.gz --- quiet 
